.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 99999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
}

.inner {
  width: 483px;
  background-color: #fff;
  height: 492px;
  position: absolute;
  border-radius: 3px;
  padding-top: 48px;
  border-radius: 11px;
  animation: showModalLogin ease 0.5s;
  overflow: hidden;
}

@keyframes showModalLogin {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 380px;
  max-height: 100%;
  overflow-y: scroll;

  &.isSignUp {
    height: 320px;
  }
}
.heading {
  font-size: 3.2rem;
  font-family: SofiaPro, Arial, Tahoma, PingFangSC, sans-serif;
  margin-top: 16px;
}
.list {
  list-style: none;
  margin-top: 20px;
}
.item {
  width: 375px;
  height: 44px;
  display: flex;
  align-items: center;
  border: 1px solid rgba(22, 24, 35, 0.12);
  margin-bottom: 16px;
  padding: 0 12px;
  cursor: pointer;
}
.title {
  font-size: 1.5rem;
  font-weight: 600;
  flex: 1;
  text-align: center;
}
.btn-more-item {
  text-align: center;
  display: block;
  font-size: 24px;
  color: #454955;
  cursor: pointer;
}

.policy {
  height: 63px;
  width: 100%;
  display: flex;
  position: relative;
}

.policy-title {
  width: 375px;
  margin: auto;
  font-size: 1.2rem;
  text-align: center;
  color: rgba(22, 24, 35, 0.5);
  font-family: ProximaNova, Arial, Tahoma, PingFangSC, sans-serif;
}
.policy-link {
  color: rgb(22, 24, 35);
  &:hover {
    text-decoration: underline;
  }
}

.bottom {
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(22, 24, 35, 0.12);
  font-size: 1.5rem;

  &.isSignUp {
    margin-top: -3px;
  }
}

.bottom-text {
  color: #161823;
}
.toggle-signup-login {
  margin-left: 5px;
  font-weight: 600;
  color: rgb(254, 44, 85);
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.close-btn {
  width: 30px;
  height: 30px;
  position: absolute;
  background: rgba(22, 24, 35, 0.03);
  top: 20px;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transform: scale(1.3);
  cursor: pointer;
}

.back-btn {
  position: absolute;
  top: 20px;
  left: 17px;
  font-size: 24px;
  cursor: pointer;
}

// login of username or phone

.wrap-form {
  width: 375px;
  user-select: none;
}
.username-login-header {
  color: rgb(22, 24, 35);
  font-weight: 600;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
}
.toggle-login {
  color: rgba(22, 24, 35, 0.75);
  font-weight: 600;
  font-size: 1.2rem;

  &:hover {
    text-decoration: underline;
    cursor: pointer;
    user-select: none;
  }
}
.container-1 {
  height: 44px;
  background: rgba(22, 24, 35, 0.06);
  border: 1px solid rgba(22, 24, 35, 0.12);
  transition: all 0.3s ease 0s;
  border-radius: 4px;
  display: flex;
  align-items: center;
  padding: 0 11px;
  margin-top: 7px;
}
.phone-selection {
  height: 30px;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding-right: 6px;
  border-right: 1px solid #d5d6d8;
}
.phone-selection-icon {
  margin-left: 10px;
}
.input-phone-number,
.input-email,
.input-password,
.input-password-confirm {
  height: 100%;
  font-size: 1.5rem;
  flex: 1;
  margin-left: 10px;
  caret-color: var(--primary);
  background-color: transparent;
}

.input-email {
  margin-left: 0;
}

.input-password {
  margin-left: 0;
  padding: 0 39px 0 11px;
}

.container-2,
.container-3 {
  margin-top: 10px;
  height: 44px;
  background: rgba(22, 24, 35, 0.06);
  transition: all 0.3s ease 0s;
  border: 1px solid rgba(22, 24, 35, 0.12);
  border-radius: 4px;
  display: flex;
  align-items: center;
  position: relative;
}

.container-4 {
  display: flex;
  position: relative;
  margin-top: 13px;

  input {
    width: 22px;
    height: 22px;
    position: absolute;
    border: 1px solid rgba(22, 24, 35, 0.23);
    appearance: none;
    -webkit-appearance: none;
  }

  .icon-checkbox {
    width: 22px;
    height: 22px;
    background-color: transparent;
    position: absolute;
    display: flex;
    align-items: center;
    color: #fff;
    justify-content: center;

    &.active {
      background-color: var(--primary);
    }
  }

  .checkbox-text {
    font-size: 1.2rem;
    margin-left: 33px;
    color: rgba(22, 24, 35, 0.75);
    font-family: ProximaNova, Arial, Tahoma, PingFangSC, sans-serif;
  }
}

.input-code {
  background-color: transparent;
  width: 263px;
  height: 100%;
  font-size: 1.5rem;
  caret-color: var(--primary);
  padding-left: 11px;
  border-right: 1px solid #d5d6d8;
}
.send-code-btn {
  flex: 1;
  font-size: 1.6rem;
  font-weight: 600;
  color: rgba(22, 24, 35, 0.34);
  font-family: ProximaNova, Arial, Tahoma, PingFangSC, sans-serif;

  &:hover {
    cursor: not-allowed;
  }
}

.show-password {
  position: absolute;
  right: 14px;
  top: 12px;
  cursor: pointer;
}

.toggle-pass-or-code-btn {
  color: rgba(22, 24, 35, 1);
  font-weight: 600;
  font-size: 1.2rem;
  display: block;
  margin-top: 12px;

  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}
.btn {
  width: 100%;
  height: 46px;
  color: rgba(22, 24, 35, 0.34);
  background-color: rgba(22, 24, 35, 0.06);
  border-radius: 4px;
  font-size: 1.6rem;
  font-weight: 700;
  font-family: ProximaNova, PingFangSC, sans-serif;
  margin-top: 20px;

  &.btn-active {
    background-color: var(--primary);
    color: #fff;
    cursor: pointer;
  }
}

// birthday
.birthday-wrap {
  margin-bottom: 22px;
}

.birthday-title {
  font-size: 1.6rem;
  color: rgb(22, 24, 35);
  font-weight: 600;
}

.birthday {
  display: flex;
  justify-content: space-between;
  margin-top: 7px;
}

.birthday-month,
.birthday-day,
.birthday-year {
  font-size: 1.6rem;
  width: 120px;
  height: 44px;
  padding: 0px 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgba(22, 24, 35, 0.34);
  background: rgba(22, 24, 35, 0.06);
  border-radius: 4px;

  &:hover {
    cursor: pointer;
  }

  .icon {
    color: rgb(22, 24, 35);
    width: 16px;
    height: 16px;
    animation: iconRotateBottom linear 0.2s;

    &.active {
      animation: iconRotateTop linear 0.2s forwards;
    }
  }
}

@keyframes iconRotateTop {
  from {
    transform: rotateZ(0);
  }
  to {
    transform: rotateZ(180deg);
  }
}

@keyframes iconRotateBottom {
  from {
    transform: rotateZ(180deg);
  }
  to {
    transform: rotateZ(0);
  }
}

.birthday-day {
}

.birthday-year {
}

.birthday-description {
  color: rgba(22, 24, 35, 0.5);
  font-size: 14px;
  margin-top: 6px;
  display: block;
}

.birthday-month-list {
  width: 120px;
  background: rgb(255, 255, 255);
  border-radius: 4px;
  box-shadow: rgb(0 0 0 / 12%) 0px 2px 12px;
  list-style: none;
  max-height: 227px;
  overflow-y: scroll;
  cursor: pointer;
}

.birthday-month-item {
  height: 34px;
  display: flex;
  align-items: center;
  padding-left: 9px;

  &:hover {
    background: rgba(22, 24, 35, 0.03);
  }

  .icon-check {
    margin-left: 6px;
    display: none;

    &.active {
      display: block;
    }
  }
}
