.wrapper {
  width: 356px;
  height: 700px;
  max-height: 100%;
  overflow-y: scroll;
  position: fixed;
  border-radius: 3px;

  &::-webkit-scrollbar-thumb {
    background-color: transparent;
  }

  &:hover::-webkit-scrollbar-thumb {
    background-color: rgba(22, 24, 35, 0.06);
  }
}
