.wrapper {
  padding: 16px 0;
  border-top: 1px solid #f1f1f2;
}

.label {
  font-size: 1.4rem;
  font-weight: 600;
  color: #161823bf;
  padding: 0 8px;
  margin-bottom: 8px;
}

.btn-more {
  font-size: 1.4rem;
  color: rgb(254, 44, 85);
  font-weight: 600;
  line-height: 20px;  
  cursor: pointer;
}
