.video-item {
  width: 20%;
  padding-left: 8px;
  padding-right: 8px;
  cursor: pointer;

  video {
    height: 269px;
    object-fit: cover;
    border-radius: 3px;
  }
}

.preview-wrap {
  position: relative;
  bottom: 37px;
  left: 12px;
  display: flex;
  cursor: pointer;

  .preview-liked {
    color: #fff;
    margin-left: 5px;
  }
}
