.home-list {
  margin: 30px 0 0 30px;
}

.home-item {
  margin-left: var(--margin-left-of-pages);
  padding: 20px 0;
  max-width: 692px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e8e8e9;

  .btn-follow {
    min-width: 88px;
    height: 28px;
    padding: 5px;
    justify-content: center;
  }

  .isFollowing {
    background: #f1f1f1;
    color: rgba(20, 22, 32, 0.75) !important;
    border: 1px solid #777 !important;
  }
}
.avatar {
  width: 56px;
  height: 56px;
  object-fit: cover;
  border-radius: 50%;
  cursor: pointer;
}

.infos {
  margin-left: 15px;
  flex: 1;
}

.info-header {
  display: flex;
  align-items: center;
  margin-bottom: 6px;
}

.nickname {
  font-size: 1.8rem;
  color: rgba(22, 24, 35, 1);
  font-family: SofiaPro, sans-serif;
  font-weight: 700;
  display: inline-block;

  &:hover {
    text-decoration: underline;
  }
}

.check {
  width: 14px;
  height: 14px;
  color: rgb(32, 213, 236);
  margin-left: 4px;
}

.full-name {
  font-family: ProximaNova, sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  display: block;
  margin: 3px 0 0 5px;
}

.caption-and-hashtag {
  margin-top: 6px;
}

.caption {
  display: inline-block;
}

.link-hashtag {
  color: rgb(22, 24, 35);
  font-weight: 600;
  margin-left: 4px;

  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

.music {
  margin-top: 6px;
}

.icon-music {
  font-size: 13px;
}

.link-music {
  color: rgba(22, 24, 35, 1);
  font-weight: 600;
  margin-left: 6px;

  &:hover {
    text-decoration: underline;
  }
}

// video and actions
.video-and-actions {
  margin-top: 15px;
  display: flex;
  align-items: flex-end;
}

.video-wrap {
  position: relative;

  &.isMuted {
    &:hover {
      .video-sound {
        animation: none;
      }
    }

    &:not(:hover) {
      .video-sound {
        display: block;
      }
    }
  }

  // &:not(.isMuted) .video-sound {
  //   animation: none;
  // }

  &:hover {
    .video-play {
      display: block;
      animation: showingUp linear 0.5s;
    }
    .video-sound {
      display: block;
      animation: showingUp linear 0.5s;
    }
    .controls-progress-video {
      display: flex;
      animation: showingUp linear 0.5s;
    }
  }
}

.video {
  width: 281px;
  height: 501px;
  border-radius: 8px;
  cursor: pointer;
}

@keyframes showingUp {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.video-play {
  font-size: 18px;
  color: #fff;
  position: absolute;
  left: 24px;
  bottom: 34px;
  cursor: pointer;
  padding: 6px;
  display: none;
}

.video-sound {
  font-size: 18px;
  color: #fff;
  position: absolute;
  right: 20px;
  bottom: 33px;
  cursor: pointer;
  padding: 4px;
  display: none;
}

.control-volume {
  width: 24px;
  height: 64px;
  background: rgba(22, 24, 35, 0.34);
  border-radius: 32px;
  display: flex;
  justify-content: center;
}

.wrap-customize-volume {
  height: 48px;
  position: relative;
  top: 7px;
}

.customize-volume {
  width: 48px;
  height: 2px;
  -webkit-appearance: none;
  appearance: none;
  background-color: rgba(255, 255, 255, 0.5);
  outline: none;
  transform: rotate(-90deg);
  position: absolute;
  top: 23px;
  right: -24px;
  z-index: 1;
}

.customize-volume::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 12px;
  border-radius: 50%;
  height: 12px;
  background-color: #fff;
  cursor: pointer;
}

.progress-volume {
  width: 2px;
  background-color: #fff;
  position: absolute;
  left: -1px;
  bottom: 0;
}

// progress video
.controls-progress-video {
  position: absolute;
  bottom: 20px;
  padding: 0 15px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  display: none;
}

.wrap-video-progress {
  position: relative;
  width: 170px;
}

.video-seek-time {
  width: 170px;
  height: 2px;
  -webkit-appearance: none;
  appearance: none;
  background-color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  position: absolute;
  top: 12px;
  z-index: 1;

  &:hover {
    height: 4px;
  }

  &:hover ~ .video-progress {
    height: 4px;
    top: 12px;
  }

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: transparent;
    transition: background-color ease 0.2s;
  }

  &:hover::-webkit-slider-thumb {
    background-color: #fff;
  }
}

.video-progress {
  height: 2px;
  background-color: #fff;
  position: absolute;
  top: 12px;
  left: 0;
}

.times-video {
}

.current-time-video,
.duration-video {
  font-size: 1rem;
  color: rgb(255, 255, 255);
  font-family: Tahoma, PingFangSC, sans-serif;
}

// actions video
.actions {
  display: flex;
  flex-direction: column;
  margin-left: 23px;
}

.btn {
  margin: 6px 0;
  background-color: transparent;
  cursor: pointer;
}

.popper-btn-share {
  width: 280px;
  padding-left: 15px !important;

  &:hover {
    background-color: #f1f1f1;
  }

  &:last-child {
    margin-bottom: 8px;
  }
}

.custom-popper {
  overflow: hidden;
}

.list-item-share {
  max-height: 448px;
  overflow: auto;

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgb(212, 209, 209);
  }
}

.btn-more {
  height: 24px;
  width: 280px;
  justify-content: center;

  &:hover {
    background-color: #f1f1f1;
  }
}

.wrap-icon {
  width: 48px;
  height: 48px;
  background-color: rgba(22, 24, 35, 0.06);
  border-radius: 50%;
  display: flex;
}

.isLikeActive {
  color: var(--primary);

  .wrap-icon {
    animation: changedColorBackgroundBtn ease 0.5s;
  }

  .icon {
    animation: iconLikeActive ease 0.3s;
  }
}

@keyframes changedColorBackgroundBtn {
  from {
    background-color: rgb(231, 226, 226);
  }
  to {
    background-color: rgba(22, 24, 35, 0.06);
  }
}

@keyframes iconLikeActive {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1.2);
  }
}

.icon {
  margin: auto;
  font-size: 21px;
}

.counts {
  font-size: 1.2rem;
  color: rgba(22, 24, 35, 0.75);
  font-family: ProximaNova, sans-serif;
  font-weight: 600;
  margin-top: 9px;
}

.home-list {
  margin: 30px 0 0 30px;
}

.home-item {
  margin-left: var(--margin-left-of-pages);
  padding: 20px 0;
  max-width: 692px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e8e8e9;

  .btn-follow {
    min-width: 88px;
    height: 28px;
    padding: 5px;
    justify-content: center;
  }

  .isFollowing {
    background: #f1f1f1;
    color: #777;
    border: 1px solid transparent;

    &:hover {
      border: 1px solid #f1f1f1;
      background: #e2e1e1;
    }
  }
}

// preview account
.preview-account {
  width: 320px;
  padding: 20px;
}

.avatar-and-btn {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.avatar-preview {
  width: 44px;
  height: 44px;
  object-fit: cover;
  border-radius: 50%;
}
.preview-btn {
  width: 106px;
  height: 36px;
  justify-content: center;
}

.preview-infos {
  color: rgb(22, 24, 35);
}

.preview-nickname {
  font-size: 1.8rem;
  font-family: SofiaPro, sans-serif;
  margin-bottom: 5px;
}

.preview-fullname {
  font-size: 1.4rem;
  font-family: ProximaNova, sans-serif;
  font-weight: 500;
}

.preview-follower-and-likes {
  margin-top: 15px;
}
.preview-count {
  font-size: 1.7rem;
  flex: 1;
  margin-right: 5px;
}

.preview-title {
  color: rgba(22, 24, 35, 0.75);
  font-size: 1.7rem;
  margin-right: 10px;
}

.preview-count {
}

.preview-title {
}
