.btn-to-top {
  width: 32px;
  height: 32px;
  border-radius: 52px;
  background: rgba(254, 44, 85, 1);
  box-shadow: 0 2px 8px rgb(0 0 0 / 6%);
  margin-top: 10px;
  position: absolute;
  right: 0;
  cursor: pointer;
}
