@import "../../../GlobalStyles/GlobalStyles.scss";

.wrapper {
    width: 356px;

    .list {
        list-style: none;

        .list-item-link {
            color: $primary;
            text-decoration: none;
        }
    }
}